@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&family=Gluten&display=swap");

body {
  background-color: #0e4a63;
  font-family: "Gluten", cursive;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 8px #000;
  padding: 0;
  margin: 0;
}

h1 {
  margin-bottom: 0.5rem;
}

h1,
h2 {
  text-align: center;
}

#instructions p {
  text-align: center;
}

#instructions h2 {
  margin: 1rem auto;
}

.instructions-class {
  margin: 0 auto 1.5rem;
  font-size: 1rem;
}

.instructions-class:hover {
  text-decoration: underline;
  cursor: pointer;
}

#instructions-ingame:hover {
  text-decoration: underline;
  cursor: pointer;
}

#instructions-ingame-show {
  display: none;
}

#instructions-ingame-hide {
  display: none;
}

button {
  font-family: "Gluten", cursive;
  border: none;
  background-color: black;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  margin: 1rem auto;
}

#content {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#board-and-buttons {
  display: none;
}

#frame {
  margin: 0 auto;
  background-color: #136386;
  max-width: 278px;
  padding: 0;
  border: 2px solid #000;
  border-right: 2px solid #000;
}

#board {
  font-family: "Finger Paint", cursive;
  font-size: 2rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0;
  margin: 0;
}

#board > div {
  line-height: 90px;
  height: 90px;
  width: 90px;
  position: relative;
  border: 1px solid #000;
  text-align: center;
}

#winner {
  width: 150px;
  height: 20px;
  margin: 1rem auto;
  text-align: center;
}

#scores {
  width: 150px;
  height: 50px;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}

#buttons {
  display: flex;
  flex-direction: column;
}

#another-round {
  display: none;
  background-color: #5d1863;
  text-shadow: 1px 2px black;
  box-shadow: 1px 1px black;
}

#another-round:hover {
  animation: none;
}

.hide {
  display: none;
}

/* .fadeInAndOut {
  animation: fadeinout 2.5s linear 1 forwards;
  animation-iteration-count: infinite;
} */

/* @keyframes fadeinout {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
} */

@media only screen and (max-width: 360px) {
  body {
    font-size: 1rem;
  }

  h1 {
    margin-bottom: 0.5rem;
  }

  h2 {
    margin-top: 0;
  }

  #scores {
    padding-top: 0px;
    padding-bottom: 1rem;
  }
  button {
    padding: 1rem;
    font-size: 1rem;
  }
}
